.letterIcon {
    display: block;
    background-image: url('../../image/share_image.png');
    background-size: 410px 396px;
    background-position: 0 -97px;
    width: 175px;
    height: 51px;
    margin: 22px auto 12px;
    text-indent: 110%;
    overflow: hidden;
}