@import '../account/Form.scss';

.content-form-title {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0 4rem 2rem;
    text-align: center;
    color: #999;
    line-height: 2rem;
}

.content-form-policy {
    text-align: center;
    color: #999;
    margin: 1rem 5rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
}